<h1>Books</h1>

<%= form_tag '/books', method: :get, class: "form-inline" do %>
  <div class="form-group mx-sm-3 mb-2">
    <%= label_tag :q, "Parola chiave", class: "sr-only"%>
    <%= search_field_tag :q, params[:q], class: "form-control",  placeholder: "Parola chiave" %>
  </div>
  <%= button_tag "Cerca", class: "btn btn-primary mb-2" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Language</th>
      <th>Spot</th>
      <th>ISBN</th>
      <th>Catalogue</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.code %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.year %></td>
        <td><%= book.genre %></td>
        <td><%= book.language %></td>
        <td><%= book.spot %></td>
        <td><%= book.isbn %></td>
        <td><%= book.catalogue %></td>
        <td>
        <% loan = book.loans.where({ date: { '$lte' => loan_date }, expected_return: { '$gte' => quarantine_date }}).first %>
        <% if loan %>
          <% if loan.expected_return <= loan_date %>
            In Quarantena.
          <% else %>
            In Prestito.
          <% end %>
          Non prestabile fino al <%= loan_from(loan) %>
        <% end %>
        </td>
        <td><%= link_to 'Loan', new_loan_path("loan[book_id]": book.id, "book_title": book.title) unless loan %>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>
<br />
<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Nuovo Libro', new_book_path, class: "btn btn-primary" %>
  <%= link_to 'Home', welcome_path, class: "btn btn-primary" %>
</div>