<h1><%= t('mongoid.models.book.other') %></h1>

<%= form_tag '/books', method: :get, class: "form-inline" do %>
  <div class="form-group mx-sm-3 mb-2">
    <%= label_tag :q, "Parola chiave", class: "sr-only"%>
    <%= search_field_tag :q, params[:q], class: "form-control",  placeholder: "Parola chiave" %>
  </div>
  <%= button_tag "Cerca", class: "btn btn-primary mb-2" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th><%= t('mongoid.attributes.book.code') %></th>
      <th><%= t('mongoid.attributes.book.title') %></th>
      <th><%= t('mongoid.attributes.book.authors') %></th>
      <th><%= t('mongoid.attributes.book.year') %></th>
      <th><%= t('mongoid.attributes.book.genre') %></th>
      <th><%= t('mongoid.attributes.book.language') %></th>
      <th><%= t('mongoid.attributes.book.spot') %></th>
      <th>ISBN</th>
      <th><%= t('mongoid.attributes.book.catalogue') %></th>
      <th><%= t('helpers.label.status') %></th>
      <th colspan="5" class="text-center"><span class="bi bi-tools"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.code %></td>
        <td><%= book.title %></td>
        <td><%= book.authors.join(", ") %></td>
        <td><%= book.year %></td>
        <td><%= book.genre %></td>
        <td><%= book.language %></td>
        <td><%= book.spot %></td>
        <td><%= book.isbn %></td>
        <td><%= book.catalogue %></td>
        <td>
        <% date_of_loan = book.loans.unloanable(loan_date, quarantine_date) %>
        <% if date_of_loan %>
          Dal <%= loan_from(date_of_loan) %>
        <% else %>
          <span class="bi bi-check-circle"></span>
        <% end %>
        </td>
        <td>
          <% if date_of_loan %>
            <% if date_of_loan <= loan_date %>
              <%= link_to "Quarantena", book.loans.lent(loan_date, quarantine_date) %>
            <% else %>
              <%= link_to "Prestato", book.loans.lent(loan_date, quarantine_date) %>
            <% end %>
          <% else %>
            <%= link_to 'Prestabile', new_loan_path("loan[book_id]": book.id, "book_title": book.title) unless date_of_loan || !current_user %>
          <% end %>
        </td>
        <td>
          <%= link_to clone_books_path(params_for_cloning(book)), title: "Clona" do %>
            <span class="bi bi-clipboard-data"></span>
          <% end if current_user %>
        </td>
        <td>
          <%= link_to book, title: "Visualizza" do %>
            <span class="bi bi-view-list"></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_book_path(book), title: "Modifica" do %>
            <span class="bi bi-pencil-square"></span>
          <% end if current_user %>
        </td>
        <td>
          <%= link_to book, method: :delete, data: { confirm: 'Sei sicuro?' }, title: "Cancella" do %>
            <span class="bi bi-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>

<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Nuovo Libro', new_book_path, class: "btn btn-primary" %>
  <%= link_to 'Home', welcome_path, class: "btn btn-primary" %>
</div>