<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @book.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Years:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @book.spot %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>

<br />
<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Modifica', edit_book_path(@book), class: "btn btn-primary" %>
  <%= link_to 'Libri', books_path, class: "btn btn-primary" %>
</div>