<p>
  <strong><%= t('mongoid.attributes.book.code') %>:</strong>
  <%= @book.code %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.title') %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.authors') %>:</strong>
  <%= @book.authors.join(", ") %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.year') %>:</strong>
  <%= @book.year %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.genre') %>:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.language') %>:</strong>
  <%= @book.language %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.spot') %>:</strong>
  <%= @book.spot %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.catalogue') %>:</strong>
  <%= @book.catalogue %>
</p>

<p>
  <strong><%= t('mongoid.attributes.book.abstract') %>:</strong>
  <%= @book.abstract %>
</p>

<p>
  <% date_of_loan = @book.loans.unloanable(loan_date, quarantine_date) %>
  <% if date_of_loan %>
    <% if date_of_loan <= loan_date %>
      <%= link_to "In Quarantena.", @book.loans.lent(loan_date, quarantine_date) %>
    <% else %>
      <%= link_to "In Prestito.", @book.loans.lent(loan_date, quarantine_date) %>
    <% end %>
    Non prestabile fino al <%= loan_from(date_of_loan) %>
  <% end %>
</p>

<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Presta', new_loan_path("loan[book_id]": @book.id, "book_title": @book.title), class: "btn btn-primary" unless date_of_loan || !current_user %>
  <%= link_to 'Clona', clone_books_path(params_for_cloning(@book)), class: "btn btn-primary" if current_user %>
  <%= link_to 'Modifica', edit_book_path(@book), class: "btn btn-primary" if current_user %>
  <%= link_to 'Elenco', books_path, class: "btn btn-primary" %>
</div>

<h2><%= t('mongoid.models.loan.other') %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t('mongoid.attributes.loan.date') %></th>
      <th>Data di restituzione</th>
      <th><%= t('mongoid.attributes.loan.place') %></th>
      <th><%= t('mongoid.attributes.loan.reader') %></th>
      <th colspan="3" class="text-center"><span class="bi bi-tools"></span></th>
    </tr>
  </thead>

  <tbody>
  <% loans = @book.loans.page(params[:page]) %>
    <% loans.each do |loan| %>
      <tr>
        <td><%= l loan.date %></td>
        <td><%= loan.actual_return ? l(loan.actual_return) : l(loan.expected_return) %></td>
        <td><%= loan.place %></td>
        <td><%= loan.reader %></td>
        <td>
          <%= link_to loan, title: "Visualizza" do %>
            <span class="bi bi-view-list"></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_loan_path(loan), title: "Modifica" do %>
            <span class="bi bi-pencil-square"></span>
          <% end %>
        </td>
        <td>
          <%= link_to loan, method: :delete, data: { confirm: 'Sei sicuro?' }, title: "Cancella" do %>
            <span class="bi bi-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate loans %>