<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= text_field_tag :autoComplete %>
  <div class="form-group">
    <%= label_tag :book_title %>
    <%= text_field_tag :book_title, book_title(loan), class: "form-control" %>
    <%= form.hidden_field :book_id %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :expected_return %>
    <%= form.date_field :expected_return, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :actual_return %>
    <%= form.date_field :actual_return, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :place %>
    <%= form.text_field :place, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reader %>
    <%= form.text_field :reader, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>

<%= javascript_pack_tag 'autocomplete' %>