<h1>Loans</h1>

<table class="table">
  <thead>
    <tr>
      <th>Book title</th>
      <th>Date</th>
      <th>Expected return</th>
      <th>Actual return</th>
      <th>Place</th>
      <th>Reader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.book.title %></td>
        <td><%= l loan.date %></td>
        <td><%= l loan.expected_return %></td>
        <td><%= l loan.actual_return if loan.actual_return %></td>
        <td><%= loan.place %></td>
        <td><%= loan.reader %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @loans %>
<br />
<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Nuovo Prestito', new_loan_path, class: "btn btn-primary" %>
  <%= link_to 'Home', welcome_path, class: "btn btn-primary" %>
</div>