<p>
  <strong><%= t('helpers.label.book_title') %>:</strong>
  <%= link_to @loan.book.title, @loan.book %>
</p>

<p>
  <strong><%= t('mongoid.attributes.loan.date') %>:</strong>
  <%= l @loan.date %>
</p>

<p>
  <strong><%= t('mongoid.attributes.loan.expected_return') %>:</strong>
  <%= l @loan.expected_return %>
</p>

<% if @loan.actual_return %>
<p>
  <strong><%= t('mongoid.attributes.loan.actual_return') %>:</strong>
  <%= l @loan.actual_return %>
</p>
<% end %>

<p>
  <% if @loan.actual_return %>
    <strong>Data di fine quarantena:</strong>
    <%= loan_from(@loan.actual_return) %>
  <% else %>
    <strong>Data prevista di fine quarantena:</strong>
    <%= loan_from(@loan.expected_return) %>
  <% end %>
</p>


<p>
  <strong><%= t('mongoid.attributes.loan.place') %>:</strong>
  <%= @loan.place %>
</p>

<p>
  <strong><%= t('mongoid.attributes.loan.reader') %>:</strong>
  <%= @loan.reader %>
</p>

<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Modifica', edit_loan_path(@loan), class: "btn btn-primary" %>
  <%= link_to 'Elenco', loans_path, class: "btn btn-primary" %>
</div>