<p id="notice"><%= notice %></p>

<h1>Sequences</h1>

<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.key %></td>
        <td><%= sequence.value %></td>
        <td>
          <%= link_to sequence, title: "Visualizza" do %>
            <span class="bi bi-view-list"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence', new_sequence_path %>
